<div (window:resize)="onResize($event)">
    <app-navigation-bar></app-navigation-bar>
    <div class="container-fluid page-body" style="margin-top: 10vh">
        <app-month-year-picker [current_month]="current_month"
                               [current_year]="current_year"
                               (update)="onChangeCalendar($event)">
        </app-month-year-picker>

        <app-bigscreen-days [width]="width"></app-bigscreen-days>

        <div class="row">
            <div class="col-xs-12 col-sm-12 calendar-row seven-cols" id="{{'week'+week}}" *ngFor="let week of [0,1,2,3,4]">
                <div  *ngFor="let day of [0,1,2,3,4,5,6]">
                    <app-smallscreen-days [width]="width"
                                          [weekday]="day"
                                          [current_date]="current_date"
                                          [date]="calendar[week][day]">
                    </app-smallscreen-days>
                    <div *ngIf="!(width<=767 && calendar[week][day]=='0')"
                         class="{{'col-xs-10 col-sm-1' +(calendar[week][day]=='0' ? '':' cell')}}">
                        <div class="cell-content" *ngIf="calendar[week][day]!='0'">
                            <app-cell-header [current_month]="current_month"
                                             [current_year]="current_year"
                                             [date]="calendar[week][day]"
                                             [width]="width"
                                             [events]="events"
                                             (init_modal)="initModal($event)">
                            </app-cell-header>
                            <app-cell-body [daily_events]="events[calendar[week][day]]"
                                           [date]="calendar[week][day]"
                                           (handle_click)="loadModalData($event)">
                            </app-cell-body>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-add-edit-event-modal [current_month]="current_month"
                    [current_year]="current_year"
                    [saveButtonState]="saveButtonState"
                    [saveFlag]="saveFlag"
                    [events]="events"
                    [event_props]="event_props"
                    [host]="host"
                    (saveButtonStateUpdate)="saveButtonState=$event">
</app-add-edit-event-modal>

<app-list-event-modal [event_props]="event_props"
                      [events]="events"
                      [current_month]="current_month"
                      [current_year]="current_year"
                      (update)="loadModalData($event)">
</app-list-event-modal>