/***********************Custom 7 Column bootstrap grid********************************/
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}


@media (min-width: 800px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
/*************************************************************************************/

.cal-title {
  font-size: 3.5vh;
}
.anchorToday {
  font-size: 2.5vh;
  border: solid;
}

.day {
  border: solid thin;
  border-left: 0;
  height: 15vh !important;
}
.cell {
  border: solid thin;
  height: 15vh !important;
}
.calendar-row {
  padding: 0 0 0 0 !important;
}
.month-display {
  font-size: 5vh;
  padding: 0 0 0 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.month-arrow {
  color: gray;
  font-size: 4vh;
}
.month-arrow:hover {
  color: black;
}
.month-text {
  border: 0;
  text-align: center;
}
