<div class="row">
  <div class="month-display">
    <a (click)="stepMonth($event, false)"><span class="glyphicon glyphicon-triangle-left month-arrow"></span></a>
    <input id="NoIconDemo"
           type="text"
           size="11"
           (blur)="onNewCalendar($event)"
           value="{{months_in_year[current_month] + '/' + current_year}}"
           disabled="true"/>
    <a (click)="stepMonth($event, true)"><span class="glyphicon glyphicon-triangle-right month-arrow"></span></a>
  </div>
</div>
