.month-display {
    padding: 0 0 0 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.month-arrow {
    color: gray;
    font-size: 4.5vh;
}
.month-arrow:hover {
    color: black;
}

#NoIconDemo {
    border: 0;
    text-align: center;
    font-size: 4vh;
}
#NoIconDemo:hover {
    text-decoration: underline;
    cursor: hand;
}